*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background-color: rgb(128, 207, 253);
    /*overflow-x: hidden;*/
    height: auto;
}

.header{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    text-decoration: none;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 2;
}

.header.scrolled{
    background: linear-gradient(to bottom, #00000070 2px, #00000070 7px, #ffffff00 100%);
}

.logo{
    width: 300px;
    margin-top: 10px;
}


.logo h1{
    font-size: 26px;
    margin-top: -10px;
}

.logo a{
    text-decoration: none;
    color: #000000;
}

.navbarbtn{
    background-color: #000000;
    width: 90px;
    height: 50px;
    border-radius: 30%/50%;
    cursor: pointer;
}

.navbarbtn::after{
    content: '';
    width: 40px;
    height: 1px; 
    position: absolute;
    background-color: #fff;
    transform: translate(65%);
    margin-top: 20px;
    transition: 0.3s;
}

.navbarbtn::before{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    background-color: #fff;
    transform: translate(65%);
    margin-top: 30px;
    transition: 0.3s;
}

.navbarbtn.active::after{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    background-color: #fff;
    margin-left: 25px;
    margin-top: 25px;
    transform: rotate(30deg);
    transition: 0.3s;
}

.navbarbtn.active::before{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    background-color: #fff;
    margin-top: 26px;
    margin-left: 25px;
    transform: rotate(-30deg);
    transition: 0.3s;
}

.lastbtn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 300px;
}

.lastbtn a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    margin-right: 10px;
}

.lastbtn p{
    font-weight: 100;
    font-size: 18px;
    border: 2px solid #2c2c2c;
    padding: 10px;
    border-radius: 30px;
    padding-top: -20px;
    padding-bottom: -20px;
    color: #2c2c2c;
    letter-spacing: 1px;
}

.navbar{
    width: 200px;
    height: 0px;
    position: absolute;
    background-color: #000000;
    margin-top: -170px;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.5s;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    opacity: 0;
}

.navbar.active a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    opacity: 1;
}

.navbar.active{
    opacity: 1;
    display: flex;
    height: 100px;
    transition: all 0.5s;
    margin-top: 100px;
}

.footer{
    width: 100%;
    min-height: 40vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 235, 205, 0);
    position: relative;
    padding-bottom: 0;
    border-bottom: 1px solid black;
}

.part1{
    height: auto;
    display: flex;
    flex-direction: column;
}

.part1 h1{
    margin-top: -20px;
    font-size: 40px;
    font-weight: 200;
}

.part1 a{
    background-color: rgb(255, 208, 0);
    border-radius: 50px;
    transition: 1s;
    padding: 10px;
    width: 120px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-top: 50px;
    position: relative;
}

.part1 a:hover{
    background-color: transparent;
    border-radius: 50px;
    transition: 1s;
}

.part1 a::before{
    content: '';
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 1s;
    margin-left: -3px;
    width: 100%;
    height: 36px;
    z-index: 1;
    top: 0;
    left: 2px;
    border-radius: 100px;
    transition: 1s;
}

.part1 a:hover:before{
    content: '';
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    transition: 1s;
    margin-left: -3px;
    width: 100%;
    height: 36px;
    z-index: 1;
    top: 0;
    left: 2px;
    border-radius: 100px;
    transition: 1s;
}

.part2{
    width: auto;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    padding-right: 5%;
}

.part2 .business, .part2 .join{
    padding: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.part2 .business p, .part2 .join p{
    font-weight: 200;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 500;
}

.part2 .business a, .part2 .join a{
    font-weight: 200;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    margin-right: auto;
}

.part2 .business a::before, .part2 .join a::before{
    content: '';
    position: absolute;
    bottom: 10px;
    width:100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    top: 20px;
    z-index: 1;
}
/*
.part2 .business a:nth-last-child(2):before{
    content: '';
    position: absolute;
    bottom: 10px;
    width:calc(100% - 22px);
    height: 1px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    top: 20px;
    z-index: 1;
}*/

.part2 .business a:hover::before,
.part2 .join a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.contactdiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 200px;
    overflow: hidden;
}

.contacth1{
    width: 50%;
    height: auto;
}

.contacth1 h1{
    font-size: 100px;
    font-weight: 300;
}

.contactform{
    width: 40%;
    height: auto;
    margin-top: -30px;
    background-color: #000000;
    padding: 50px;
    border-radius: 50px;
}

.firstinput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstinput input{
    display: flex;
    flex-direction: row;
    width: 49%;
    padding: 12px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.secondinput{
    display: flex;
    flex-direction: column;
}

.secondinput textarea{
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    margin-top: 10px;
    height: 130px;
    text-align: left;
    vertical-align: middle;
    resize: vertical;
}

.secondinput input::placeholder{
    position: absolute;
    top: 10px;
}

.secondinput input::-ms-input-placeholder{
    position: absolute;
    top: 10px;
}

.secondinput button{
    background-color: rgb(128, 207, 253);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    margin-top: 10px;
    transition: all 1s;
    cursor: pointer;
}

.secondinput button:hover{
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    transition: all 1s;
}



@media (max-width:890px) {
    .lastbtn{
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 120px;
    }
    .logo{
        width: 120px;
    }

    .footer{
        flex-direction: column;
        justify-content: start;
        margin-top: 50px;
        padding: 10px;
    }
    .part2{
        margin-top: 50px;
        padding-left: 0;
        margin-left: 0;
        flex-direction: column;
    }
    .part2 .business{
        padding-left: 0;
    }   
    .part2 .join{
        padding-left: 0;
    }  
    .social{
        flex-direction: column-reverse;
        margin-top: 10px;
        height: auto;
    }
    .part_1{
        flex-direction: column;
        width: 100%;
    }
    .part_2{
        flex-direction: column;
        width: 100%;
    }
    .part2 .business a, .part2 .join a{
        margin-right: auto;
    }
    .part2 .business a:nth-last-child(2):before{
        content: '';
        position: absolute;
        bottom: 10px;
        width:100%;
        height: 1px;
        background-color: rgb(0, 0, 0);
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: right;
        top: 20px;
        z-index: 1;
    }
    .contactdiv h1{
        font-size: 50px;
    }
    .contactdiv{
        flex-direction: column;
    }
    .contactform, .firstinput, .secondinput{
        width: 100%;
    }
    .contactform{
        width: 40%;
        height: auto;
        margin-top: 30px;
        background-color: #000000;
        padding: 50px;
        border-radius: 50px;
        width: 100%;
        margin-bottom: 30px;
    }
    .contactdiv{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-top: 200px;
        overflow: hidden;
    }
}